# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Tauri
src-tauri/target/
src-tauri/WixTools/

# Rust
Cargo.lock

# Env
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
